<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap" rel="stylesheet">
    <title>TecBlog</title>
</head>

<body>
    
    <header>

        <h1>TecBlog</h1>
        <h4>Home • Jogos • Informática • Celulares • Eletrônicos</h4>

    </header>

    <div class="postagem-1">

        <h2>Título da postagem 1</h2>,
        <h3>postado 20 de março de 2022</h3>

        <hr>

        <img src="../static/img/imagem1.jpg" alt="Parte de um teclado de notebook e uma xícara vermelha com café">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem consectetur maxime,
        tenetur iste nobis vitae doloremque dolores assumenda ducimus veritatis id, repellat, corporis ratione facilis aut consequuntur enim eius voluptates?
        Necessitatibus deserunt distinctio facere blanditiis, ullam aperiam accusantium sunt voluptatibus, ratione pariatur!</p>

        <p class="mais">Leia mais</p>

    </div>

    <div class="postagem-1">

        <h2>Título da postagem 2</h2>,
        <h3>postado 10 de março de 2022</h3>

        <hr>

        <img src="../static/img/imagem2.jpg" alt="Um computador, um tablet e um celular.">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem consectetur maxime,
        tenetur iste nobis vitae doloremque dolores assumenda ducimus veritatis id, repellat, corporis ratione facilis aut consequuntur enim eius voluptates?
        Necessitatibus deserunt distinctio facere blanditiis, ullam aperiam accusantium sunt voluptatibus, ratione pariatur!</p>

        <p class="mais">Leia mais</p>

    </div>

    <div class="caixas">

        <div>

            <h3>Postagens recentes</h3>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="mais">Leia mais</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="mais">Leia mais</p>

        </div>

        <div>

            <h3>Categorias</h3>
            <ul>
                <li>Jogos</li>
                <li>Celulares</li>
                <li>Eletrônicos</li>
                <li>Informática</li>
            </ul>

        </div>

    </div>

</body>

</html>