{% extends 'base.html' %}

{% block content %}
        <div>    
            <img class="t" src="/static/images/capa.png" alt="imagem de capa">
        </div>
        <div>
            <h1>Sobre a universidade</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, 
            delectus explicabo odio cum tenetur ab fugiat reprehenderit nobis eos quasi rerum iusto quisquam 
            hic molestiae eligendi deleniti quis similique excepturi.
            Commodi, 
            delectus explicabo odio cum tenetur ab fugiat reprehenderit nobis eos quasi rerum iusto quisquam 
            hic molestiae eligendi deleniti quis similique excepturi.
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, 
            delectus explicabo odio cum tenetur ab fugiat reprehenderit nobis eos quasi rerum iusto quisquam 
            hic molestiae eligendi deleniti quis similique excepturi.
            Commodi, 
            delectus explicabo odio cum tenetur ab fugiat reprehenderit nobis eos quasi rerum iusto quisquam 
            ic molestiae eligendi deleniti quis similique excepturi.</p>
        </div>
    </div>

{% endblock content %}