{% extends 'base.html' %}

{% block content %}
        <div>
        <h1>Quem Somos</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolore beatae a qui atque deleniti veritatis, 
        <br>quo quidem officia consequatur nostrum molestias id sit vitae esse repudiandae explicabo, quis voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolore beatae a qui atque deleniti veritatis, 
        <br>quo quidem officia consequatur nostrum molestias id sit vitae esse repudiandae explicabo, quis voluptas?

        <h1>5 motivos para estudar</h1>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade renomada</li>
            <li>Ótima localização</li>
        </ol>
        </div>
    <hr>
        <div>
            <h1>Objetivos</h1>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium saepe corporis eius odio dolores ipsam 
       voluptatibus obcaecati aliquam recusandae sunt tenetur error iusto ea esse deserunt ut, amet hic dolor Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium saepe corporis eius odio dolores ipsam 
       voluptatibus obcaecati aliquam recusandae sunt tenetur error iusto ea esse deserunt ut, amet hic dolor. 
       <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium saepe corporis eius odio dolores ipsam 
       voluptatibus obcaecati aliquam recusandae sunt tenetur error iusto ea esse deserunt ut, amet hic dolor!</p>
        </div>

{% endblock content %}
