<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Users</title>

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/meuestilo.css')}}">  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    

<table id="users" class="display">
    <thead>

        <tr>
            <th>E-mail</th>
            <th>Assunto</th>
            <th>Descrição</th>

        </tr>
    </thead>
    
    {% for user in userMessages %}
    
    <tbody>
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
        </tr>
    </tbody>
   

    {% endfor %}

</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  
</body>
</html>