body {
    background-color: lightgray;
    font-family: 'Abyssinica SIL', serif;
}

header {
    font-family: 'Abyssinica SIL', serif;
    background-color: rgb(206, 196, 53);
    text-align: center;
    color: white;
}

.mais {
    color: rgb(204, 204, 49);
    font-weight: bold;
}

.postagem-1 {
    background-color: antiquewhite;
}