   <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" href= "{{ url_for('static',filename='css/meuestilo.css') }}">        
        <title>UNES Universidade</title>

    </head>
        
    <body background="/static/images/fundo.png"></body>
   
    <body>

        <div>
        <body background img src="../static/images/fundo.png">
        <div class="c">
            <div class="a">
                <img class="h" src="/static/images/logo.png" alt="logo UNES">
            </div>
            <div class="b">
                <a href="/">Home</a> | <a href="/quemsomos">Quem Somos</a> | <a href="/contato">Contato</a>
            </div>
            
        </div>
        
        <div>        
                        
            <img class="t" src="/static/images/capa.png" alt="imagem de capa">

        </div>
                        
        <div>
            <h1>Sobre a universidade</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, 
            delectus explicabo odio cum tenetur ab fugiat reprehenderit nobis eos quasi rerum iusto quisquam 
            hic molestiae eligendi deleniti quis similique excepturi.
            Commodi, 
            delectus explicabo odio cum tenetur ab fugiat reprehenderit nobis eos quasi rerum iusto quisquam 
            hic molestiae eligendi deleniti quis similique excepturi.
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, 
            delectus explicabo odio cum tenetur ab fugiat reprehenderit nobis eos quasi rerum iusto quisquam 
            hic molestiae eligendi deleniti quis similique excepturi.
            Commodi, 
            delectus explicabo odio cum tenetur ab fugiat reprehenderit nobis eos quasi rerum iusto quisquam 
            ic molestiae eligendi deleniti quis similique excepturi.</p>
        </div>
        <br><br>
        <div>
            <h4>Todos os direitos reservados</h4>
        </div>
    </div>
    </body>
    </html>